<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home - ParkRamallah</title>
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <style>
        .container-bg {
            background-image: url("{% static 'img/we_ramallah.jpg' %}");
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <img src="{% static 'img/Ramalla_City_Logo.png' %}" alt="logo" class="img-fluid logo-img me-2 rounded">
            <div class="display-6 text-light fw-bold">ParkRamallah</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link"  href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add_comment">Add Comment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about_us">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mb-5" style="margin-top: 8%;">
        <div class="row justify-content-center text-light">
            <div class="col-md-4">
                <div class="card mb-5 custom-card p-3">
                    <div class="card-body">
                        <h1 class="text-center mb-4 display-5 fw-bold" style="color: rgb(7, 9, 11);">Profile</h1>
                        
                        <form id="profileForm" class="needs-validation" method="post" novalidate>
                            {% csrf_token %}
                            <div class="mb-3 custom-input-group">
                                <span class="input-group-text">
                                    <i class="bi bi-person-fill text-light fs-2"></i>
                                    {{ form.username }}
                                </span>
                            </div>
                            <div class="mb-3">
                                <span class="input-group-text">
                                    <i class="bi bi-envelope-fill text-light fs-2"></i>
                                    {{ form.email }}
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>
